#container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

#start-button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00b8d4;
  color: white;
  border: none;
  cursor: pointer;
}

#start-button:hover {
  background-color: #0052cc;
}
